.plot {
    width: 20%;
    height: 350px;
    display: inline-block;
    position: relative;
}

.plot.single {
    width: 80%;
    height: 500px;
    margin: 10px;
}

.arrow {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.arrow .up-arrow {
    color: green;
}

.arrow .down-arrow {
    color: red;
}

.navbar {
    margin-bottom: 0;
}

.navbar .navbar-nav {
    margin-left: auto;
}

.navbar .navbar-nav .nav-item {
    margin-right: 15px;
}

#charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

