.notification-container {
    position: relative;
  }
  
  #notification {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 0.6rem 1rem; /* Adjust the padding as needed */
    background-color: #ff5252; /* Set your desired background color */
    color: #ffffff; /* Set your desired text color */
    border-radius: 1rem; /* Adjust the border-radius as needed */
    font-size: 0.8rem; /* Adjust the font-size as needed */
    border: 2px solid #000000; /* Set the border width and color */
    cursor: pointer;
  
    /* Add any other styles you want */
  }
  
  #notification:hover::before {
    content: 'For more info click on Data Intelligence Hub and Dormant';
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 0.4rem 0.8rem; /* Adjust the padding as needed */
    border-radius: 0.2rem; /* Adjust the border-radius as needed */
    font-size: 0.6rem; /* Adjust the font-size as needed */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
  }
  
  #notificationText {
    animation: fade 1s infinite;
  }
  
  #notification:hover::before {
    visibility: visible;
    opacity: 1;
  }