<!DOCTYPE html>
<html>
<head>
    <title>IEG Operations</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_notification.css') }}">


</head>



<body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h4 style="color: whitesmoke;">IEG Operations</h4> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <!-- <li class="nav-item active" style="color: white;">
                 
            </li> -->
            <li class="nav-item" style="color: white;">
                <div id="last-update" style="font-size: 0.7em;"></div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="filterDropdown" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm">
                      Show Filters
                    </button>
                    <div class="collapse" id="filterForm">
                        
                      <form id="client-form" action="/home" method="get">
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            <div class="row">
                              <div class="col">
                                <ul class="list-group">
                                  <li class="list-group-item">
                                    <select class="custom-select custom-select-sm" id="client" name="client">
                                      <option value="">All Clients</option>
                                      {% for client in clients %}
                                      <option value="{{ client }}" {% if client == selected_client %}selected{% endif %}>Client {{ client }}</option>
                                      {% endfor %}
                                    </select>
                                  </li>
                                  <li class="list-group-item">
                                    <select class="custom-select custom-select-sm" id="lounge_name" name="lounge_name">
                                      <option value="">All Lounges</option>
                                      {% for lounge_name in cl_lounges_[''] %}
                                      <option value="{{ lounge_name }}">Lounge {{ lounge_name }}</option>
                                      {% endfor %}
                                    </select>
                                  </li>
                                  <li class="list-group-item">
                                    <select class="custom-select custom-select-sm" id="airport_name" name="airport_name">
                                      <option value="">All Airports</option>
                                      {% for airport_name in airports %}
                                      <option value="{{ airport_name }}">Airport {{ airport_name }}</option>
                                      {% endfor %}
                                    </select>
                                  </li>
                                  <li class="list-group-item">
                                    <select class="custom-select custom-select-sm" id="city_name" name="city_name">
                                      <option value="">All Cities</option>
                                      {% for city_name in cities %}
                                      <option value="{{ city_name }}">{{ city_name }}</option>
                                      {% endfor %}
                                    </select>
                                  </li>
                                  <li class="list-group-item">
                                    <select class="custom-select custom-select-sm" id="country_name" name="country_name">
                                      <option value="">All Countries</option>
                                      {% for country_name in countries %}
                                      <option value="{{ country_name }}">{{ country_name }}</option>
                                      {% endfor %}
                                    </select>
                                  </li>
                                  <li class="list-group-item">
                                    <select class="custom-select custom-select-sm" id="time_alert" name="time_alert">
                                      <option value="20">Default Data Alert (20 days)</option>
                                      {% for time_alert in setting['time_alert'] %}
                                      <option value="{{ time_alert }}">{{ time_alert }} (day)</option>
                                      {% endfor %}
                                    </select>
                                  </li>
                                  <li class="list-group-item">
                                    <select class="custom-select custom-select-sm" id="plt_interval" name="plt_interval">
                                      <option value="1">Default Plot Interval (1 day)</option>
                                      {% for plt_interval in setting['plot_interval'] %}
                                      <option value="{{ plt_interval }}">{{ plt_interval }} (day)</option>
                                      {% endfor %}
                                    </select>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                       
            </li>
            <li class="nav-item">
                <a class="btn btn-primary {% if stats[7]['open_to_accept'] != 0 or stats[7]['very_crowded'] != 0 %}blink_inthub{% endif %} btn-sm smaller-button" href="{{ url_for('intelligence_hub') }}">Data Intelligence Hub</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-primary {% if stats[1] != 0 %}blink_dorm{% endif %}" href="{{ url_for('dormant') }}">Dormant</a>
            </li>

            <li class="nav-item">
                <button id="update-btn" type="button" class="btn btn-primary">Update</button>
            </li>

            <li class="nav-item">
                <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>


<div class="container-fluid">
    <div id="rates-container" class="row justify-content-center">

        <div class="col-md-3">
            <div class="card" style="background-color: azure;">
                <div class="card-body text-center">
                    <h5 class="card-title">Active Lounges</h5>
                    <p class="card-text">
                        <span id="act-lounge"></span> / <span id="lounge-total"></span>
                    </p>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                        style="width: 0%;" id="progress_bar_lounge">
                        <strong></strong>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card" style="background-color: azure;">
                <div class="card-body text-center">
                    <h5 class="card-title">Volume Week by Week</h5>
                    <p class="card-text">
                        <span id="vol_curr"></span> / <span id="vol_prev"></span>
                    </p>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                        style="width: 0%;" id="progress_bar_vol">
                        <strong></strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="background-color: azure;">
                <div class="card-body text-center">
                    <h5 class="card-title">Active Clients</h5>
                    <p class="card-text">
                        <span id="act-client"></span> / <span id="total-client"></span>
                    </p>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                        style="width: 0%;" id="progress_bar_client">
                        <strong></strong>
                    </div>
                </div>
            </div>
        </div> 



    </div>
</div>

<div class="container-fluid">
    {% if stats[8] %}
    <div class="navbar-collapse" > 
        <ul class="navbar-nav">
            <li class="nav-item">
                <div id="notification" class="notification-container" style="text-align: center;">
                    {% if stats[8]|length == 1 %}
                        {{ stats[8][0] }}
                    {% else %}
                        <span id="notificationText"></span>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
    {% endif %}
    
    {% if stats[8]|length > 1 %}
    <script>
        var statsList = {{ stats[8]|tojson }};
        var notificationTextElement = document.getElementById("notificationText");
        var currentIndex = 0;
    
        setInterval(function() {
            notificationTextElement.textContent = statsList[currentIndex];
            currentIndex = (currentIndex + 1) % statsList.length;
        }, 3000);
    </script>
    {% endif %}           
</div>

<div class="container-fluid" >
    <div id="charts-container" class="row" style="padding: 0px;"></div>
</div>

    <script src="{{ url_for('static', filename='js/script_visual.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dormant_button_blink.js') }}"></script>
    <script src="{{ url_for('static', filename='js/int_hub_button_blink.js') }}"></script>





</body>
</html>
