<!DOCTYPE html>
<html lang="en" dir="ltr">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Scholar.css')}}">

<script src="https://kit.fontawesome.com/7b39c73889.js" crossorigin="anonymous"></script>
<link rel="icon" href="{{url_for('static', filename='favicon2.ico')}}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<head>

  <meta charset="utf-8">
  <title>NI2Lab</title>

</head>

<body>


    <section id="sec1">


      <!-- <img src='{{ url}}' alt="png plot" width="600px"> -->


            <a class="btn btn-dark" href="{{ url_for('sign_up') }}">Sign Up</a>
            <a class="btn btn-dark" href="{{ url_for('login') }}">Login</a>




    </section>


    <section id="sec-copyright">
  <i class="fab fa-twitter"></i>
  <i class="fab fa-facebook-square"></i>
  <i class="fab fa-instagram-square"></i>
      <hr>
      <i class="far fa-copyright"> NI<sup>2</sup>Lab</i>
    </section>

</body>

</html>
