<!DOCTYPE html>
<html>
<head>
    <title>Time Series Analysis</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Time Series Analysis</h1>
    
    <!-- Add filter controls here if needed -->
    
    <div id="chart"></div>
    
    <script>
        // Assume 'data' variable contains the time series data to be plotted
        var data = JSON.parse('{{ data | tojson }}');
        var x = data.map(function(d) { return d.Date; });
        var y = data.map(function(d) { return d.Volume; });
        
        // Create the plot using Plotly.js
        var trace = {
            x: x,
            y: y,
            type: 'scatter',
            mode: 'lines',
            name: 'Time Series'
        };
        var layout = {
            title: 'Time Series Plot',
            xaxis: {
                title: 'Date'
            },
            yaxis: {
                title: 'Rate'
            }
        };
        Plotly.newPlot('chart', [trace], layout);
    </script>
</body>
</html>
